.txt-rotate
{
	position: absolute;

	top: 350px;
	left: 940px;
  font-size: 90px;
  color: white;
	font-family: 'Raleway', sans-serif;

}

.homepic
{
	position: absolute;
	top: 900px;
	left: 140px;
}

.resume
{
	position: absolute;
	top: 900px;
	left: 850px;
}

.instagram
{
	position: absolute;
	top: 920px;
	left: 513px;
}

.twitter
{
	position: absolute;
	top: 1090px;
	left: 505px;
}

.linkedin
{
	position: absolute;
	top: 1290px;
	left: 510px;
}

.github
{
	position: absolute;
	top: 1470px;
	left: 508px;
}
