body
{
	background-color: #60a3bc;
}

.txt-rotate
{
	position: absolute;

	top: 550px;
	left: 520px;
  font-size: 50px;
  color: white;
	font-family: 'Raleway', sans-serif;

}

.homepic
{
	position: absolute;
	top: 860px;
	left: 140px;
}

.resume
{
	position: absolute;
	top: 860px;
	left: 850px;
}

.instagram
{
	position: absolute;
	top: 880px;
	left: 513px;
}

.twitter
{
	position: absolute;
	top: 1035px;
	left: 490px;
}

.linkedin
{
	position: absolute;
	top: 1250px;
	left: 510px;
}

.github
{
	position: absolute;
	top: 1430px;
	left: 508px;
}

.extraspace
{
	position: absolute;
	top: 1560px;
	color: white;
	font-size: 20px;
}
