body
{
		background-color: #EE5A24;
}
.music
{
	position: absolute;
	top: 60px;
	left: 605px;
	padding: 0;
	color: black;
	font-size: 95px;
	font-family: 'Comfortaa', cursive;
}

.havana
{
	position: absolute;
	top: 150px;
	left: 20px;
}

.havanadesc
{
	position: absolute;
	top: 600px;
	left: 20px;
	color: black;
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

.theway
{
	position: absolute;
	top: 150px;
	left: 530px;
}

.thewaydesc
{
	position: absolute;
	top: 600px;
	left: 540px;
	color: black;
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

.godsplan
{
	position: absolute;
	top: 150px;
	left: 1045px;
}

.godsplandesc
{
	position: absolute;
	top: 600px;
	left: 1180px;
	color: black;
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

.fromtime
{
	position: absolute;
	top: 700px;
	left: 130px;
}

.fromtimedesc
{
	position: absolute;
	top: 1010px;
	left: 220px;
	color: black;
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

.sidelinestory
{
	position: absolute;
	top: 700px;
	left: 820px;
}

.sidelinestorydesc
{
	position: absolute;
	top: 1010px;
	left: 990px;
	color: black;
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

.extraspace
{
	position: absolute;
	top: 1040px;
	color: white;
	font-size: 20px;
}
