.photography
{
	position: absolute;
	top: 60px;
	left: 450px;
	padding: 0;
	color: white;
	font-size: 95px;
	font-family: 'Comfortaa', cursive;
}

.pictures
{
	position: absolute;
	top: 150px;
	left: 60px;
	line-height: 0;
	float: left;
	display: inline-block;
}
